<ul id="social" class="social">
  <!--<li>
    <a class="fab fa-linkedin" href="{{ .Site.Data.social.linkedin }}" target="blank"></a>
  </li>
  <li>
    <a class="fab fa-medium" href="{{ .Site.Data.social.medium }}" target="blank"></a>
  </li>-->
  <li>
    <a class="fab fa-twitter" href="{{ .Site.Data.social.twitter }}" target="blank"></a>
  </li>
  <!--<li>
    <a class="fab fa-instagram" href="{{ .Site.Data.social.instagram }}" target="blank"></a>
  </li>
  <li>
    <a class="fab fa-orcid" href="{{ .Site.Data.social.orcid }}" target="blank"></a>
  </li>  -->
</ul>