.content {
  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: 1.1rem;
    li {
      margin-left: 30px;
      list-style-position: outside;
      padding-left: 0.7em;
    }
  }
  ul li {
    list-style: square;
    margin-bottom: 2px;
  }
  ol li {
    list-style-type: decimal;
    margin-bottom: 12px;
  }
  a {
    text-decoration: underline;
  }
  p {
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: 1.1rem;
  }
  h1 {
    font-family: $font-family-heading;
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    color: $primary;
    @include media-breakpoint-up(md) {
      line-height: 1.2;
      font-weight: $font-weight-bold;
    }
  }
  h2 {
    font-family: $font-family-heading;
    line-height: 1.4;
    font-weight: $font-weight-bold;
    font-size: 1.6rem;
    color: $secondary;
    @include media-breakpoint-up(md) {
      line-height: 1.4;
    }
  }
  // Subheading
  h3 {
    color: $secondary;
    line-height: 1.2;
    font-weight: $font-weight-normal;
    letter-spacing: 1px;
    font-size: 1.3rem;
    @include media-breakpoint-up(md) {
      line-height: 1.2;
      letter-spacing: 1.4px;
      font-weight: $font-weight-normal;
    }
  }
  .page-intro {
    max-width: 70%;
    margin: auto;
  }

  table {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Arial, sans-serif, -apple-system;
    font-size: 1.1rem;
    font-weight: 300;

    th {
      font-weight: 600;
    }

    tr {
      border-bottom : 1px solid #CCC
    }

    tr:last-child{
      border-bottom: none;
    }
  }


}
