.feature {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 180px;
    /*display: flex;*/
    margin-bottom: 8px;
    /*text-align: center;*/
  }
  /*img {
    width: 100%;
    height: auto;
  }*/
  .feature-title {
    color: $primary;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .feature-content {
    /*margin-bottom: auto;
    margin-top: 0;*/
    color: $secondary;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.1;
    /*position: relative;*/
    p {
      margin: 0;
      strong {
        /*color: $secondary;*/
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
      em {
        /*color: $primary;*/
        font-style: normal;
      }
    }
  }
  .service-content {
    margin-bottom: 0;
    margin-top: auto;
    p {
      margin: 0;
      strong {
        color: $secondary;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
      em {
        color: $secondary;
        font-style: normal;
        font-weight: 700;
      }
    }
  }
  .service-title {
    font-size: 1.5rem;
    line-height: 1.2; 
    font-weight: 700;
    color: $secondary;   
  }
}