.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: top center;
  background-blend-mode: overlay;
  background-color: $primary;
  height: 700px;
  position: relative;
  padding-top: 60px;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row {
    height: inherit;
  }
  .hero-text {
    flex: 0;
    color: #ffffff;
    margin: auto 0;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        /*font-size: 2.5rem;*/
        width: 80%;
      }
    }
    h2 {
      font-size: 2.2rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 1.2;
      font-weight: 300;
      @include media-breakpoint-up(md) {
        /*font-size: 1.6rem;*/
        width: 60%;
      }
    }
    strong {
      /*color: blue;*/
      /*font-size: 6rem;*/
      font-weight: 600;
      /*@include media-breakpoint-up(md) {
        font-size: 1.6rem;
        width: 60%;
      }*/
    }
  }
  .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .hero-section {
    text-transform: uppercase;
    font-weight: normal;
  }
  .icon-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.hero-image-fullscreen {
  height: 100vh;
}
.hero-image-setheight {
  height: 400px;
}
.hero-image-blend-overlay {
  background-blend-mode: overlay;
}
