.work-step {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: right;
  flex-direction: column;
  text-align: center;
  .step-title {
      color: $ltgrey;
      font-weight: $font-weight-bold;
      font-size: 3rem;
      line-height: 1.1;
  }
  .step-content {
    /*margin-bottom: auto;
    margin-top: 0;*/
    color: $secondary;
    font-weight: font-weight-bold;
    font-size: 1.2rem;
    line-height: 1.1;
    /*position: relative;*/
    p {
      margin: 0;
      strong {
        /*color: $secondary;*/
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: font-weight-bold;
      }
      em {
        /*color: $primary;*/
        font-style: normal;
      }
    }
  }
}