{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- REMOVE THE HEADER FOR THIS PAGE -->
<!--{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}-->
{{ if .Content }}
<div class="strip pt-6 pb-2">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 col-md-12 content">
          {{ .Content }}
          {{ if .Params.button }}
          <a class="button button-primary" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button}}</a>
          {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<hr />

<!-- List the steps - section 0 -->
<div class="strip pt-2 pb-2">
  <div class="container">
    <div class="row justify-content-left">
      <div class="content">
        <h1>The Steps</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      {{ range .Site.Data.startedsteps }}
    <div class="col-12 col-md-4 col-lg-2 mb-2">
      <div class="work-step">
        <div class="step-title">{{ .title }}</div>
        <div class="step-content">{{ .description }}</div>
      </div>
    </div>
      {{ end }}
  </div>
</div>
</div>

<hr />

<!-- List the steps - section 1 -->
{{ partial "work-step-1.html" (dict "detaillink" .Params.linkStep1) .}}

<!-- List the steps - section 2 -->
{{ partial "work-step-2.html" (dict "detaillink" .Params.linkStep2) .}}

<!-- List the steps - section 3 -->
{{ partial "work-step-3.html" (dict "detaillink" .Params.linkStep3) .}}

<!-- List the steps - section 4 -->
{{ partial "work-step-4.html" (dict "detaillink" .Params.linkStep4) .}}

<!-- List the steps - section 5 -->
{{ partial "work-step-5.html" (dict "detaillink" .Params.linkStep5) .}}

<!-- 
<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
-->
{{ end }}