<footer class="main-footer pr-5 pl-5 pt-3 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-3 col-lg-3 text-center text-xl-left text-lg-left text-md-left">
            <img class="footer-logo pb-3" alt="SeamlessAcces Logo" src="/images/sa-logo-white.svg"/>
            <br/>
            <p>
              SeamlessAccess enables true Sign On. Your users will be able to sign in using
              their preferred sign in credentials, and will not be bothered for them again
              for all SeamlessAccess-enabled sites.
            </p>
          </div>
          <div class="col-12 col-md-3 col-lg-3 d-none d-xl-block d-lg-block d-md-block">
            <h3 class="pr-3 pl-3 font-weight-bold lh-title primary border-left-white pt-1 pb-1 mb-0">
              <a href="https://seamlessaccess.org/services/" class="link"><strong>The Service</strong></a>
            </h3>
            <ul class="pr-3 pl-3 mb-1 border-left-white">
              <li><a href="https://seamlessaccess.org/services/for-service-providers/" class="link">SeamlessAccess for Service Providers</a></li>
              <li><a href="https://seamlessaccess.org/services/for-libraries/" class="link">SeamlessAccess for Libraries</a></li>
              <li><a href="https://seamlessaccess.org/services/for-identity-providers/" class="link">SeamlessAccess for Identity Providers</a></li>
              <li><a href="https://seamlessaccess.org/services/for-federations/" class="link">SeamlessAccess for R&E Federation Operators</a></li>
              <li><a href="https://seamlessaccess.org/services/for-researchers/" class="link">SeamlessAccess for Researchers</a></li>
              <li><a href="https://seamlessaccess.org/services/for-research_collab" class="link">SeamlessAccess for Research Collaborations</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3 col-lg-3 d-none d-xl-block d-lg-block d-md-block">
            <h3 class="pr-3 pl-3 font-weight-bold lh-title primary border-left-white pt-1 pb-1 mb-0">
              <a href="https://seamlessaccess.org/about/" class="link"><strong>About</strong></a>
            </h3>
            <ul class="pr-3 pl-3 mb-1 border-left-white">
              <li><a href="https://seamlessaccess.org/about/governance/" class="link">Governance and Funding</a></li>
              <li><a href="https://seamlessaccess.org/about/community/" class="link">Community</a></li>
              <li><a href="https://seamlessaccess.org/about/trust/" class="link">Privacy and Trust</a></li>
              <li><a href="https://seamlessaccess.org/posts/" class="link">News</a></li>
            </ul>
            <br>
            <h3 class="pr-3 pl-3 font-weight-bold lh-title primary border-left-white pt-1 pb-1 mb-0">
              <a href="https://seamlessaccess.org/about/" class="link"><strong>FAQ</strong></a>
            </h3>
           <h3 class="pr-3 pl-3 font-weight-bold lh-title primary border-left-white pt-1 pb-1 mb-0">
              <a href="https://seamlessaccess.org/work/" class="link"><strong>Documentation</strong></a>
            </h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>

<style>
  a:focus {
    box-shadow: none;
    outline: none
  }
  .main-footer {
    font-size: 14px;
    background: #216E93;
    color: white;
  }

  .main-footer a, .main-footer p {
    font-size: 14px;
    font-weight: 300;
    color: white;
  }

  .main-footer .primary, .main-footer a.primary {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .footer-logo {
    max-width: 100px;
  }

  .main-footer .link {
    font-size: 14px;
    line-height: 0;
  }

  .main-footer li {
    padding: 4px 0;
  }

  .sub-footer {
    font-size: 14px;
    background: #2E2E2E;
    color: white;
  }

  .sub-footer p {
    text-align: center;
  }

  .sub-footer a {
    font-size: 14px;
    text-decoration: none;
  }

  .border-left-white {
    border-left: none;
  }

  @media screen and (min-width: 50em) {
    .border-left-white {
      border-left: 1px solid rgba(229, 229, 229, 0.4);
    }

    .sub-footer p {
      text-align: left;
    }
  }
</style>
