<div id="hero" class="hero-image hero-image-setheight" style="background-image: url('{{ .background | relURL }}')">
  <div class="container ">
    <div class="hero-text">
      <h1>{{ if .section }}<a href="../" style="color: inherit;"><span class="hero-section">{{ .section }}</span></a> > {{ end }}{{ .heading }}</h1>
      <p><strong>{{ .subheadinglead }}</strong>{{ .subheading }}</p>
      <!-- For displaying the image in the hero 
      <div class="hero-image icon-image">
        <img src="{{ .Site.BaseURL }}{{ .icon }}"/>
      </div>
    -->
    </div>
  </div>
</div>
  