<div class="strip pt-4 pb-4">
  <div class="container">
    <div class="row content">
      <h1>Tell your users</h1>
    </div>
    <div class="row ">
      <div class="col-2"></div>
      <div class="col-10 content">
      <p><strong>Who does this work?</strong> This work is likely done by your communications or marketing team. It's a great idea to get this group involved early in the project so they are ready to talk about the connection when it is ready</p>
      </div>
    </div>
  </div>
</div>

<hr />