{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

<!--  LAYOUT FOR THE HERO -->
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "subheadinglead" .Params.heroSubHeadingLead "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}

<!-- HOME PAGE subsection - the item with a weight of '1' is included in this section -->
<!-- remove this section
{{ range first 1 $reusablePages }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
 -->


<div class="bg-ltgrey ">
  <div id="home" class="container pt-2 pb-1 pt-md-2 pb-md-1">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="feature">
          {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">{{ .description }}</div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>


<!-- SERVICES SECION ON HOME PAGE: Will list each item included in the "services content section" -->
<!-- Adjust what the summary of each service will look like in layouts > services > summary.html -->
{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pb-4 pb-md-4 pt-md-8">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">SeamlessAccess for...</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-6 col-lg-3 mb-2">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
    </div>
  </div>
</div>
{{end}}

<hr>

<!-- SeamlessAction in Action AND Recent News -->
{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-4 pb-4">
    <div class="row">
      <!--<div class="col-12 col-md-6">
        <h3 class="text-capitalize">{{ .Title }}</h3>
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>-->
      <!-- RECENT BLOG POSTS -->
      <div class="col-12 col-md-8">
        <div class="post-summary">
          {{ partial "blog/post-recent-summary" . }}
          <a class="button" href="posts/">View All News</a>
        </div>
    </div>
    </div>
  </div>
</div>
{{ end }}

{{ range first 1 (after 2 $reusablePages) }}
<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-4 pb-8 pb-md-8 pt-md-4">
    <!-- justify-content-center makes the text appear centered -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
